{{template "head.html"}}

<body>
    <script src="/public/ugh/announce.js"></script>
    <h1 class="md-typescale-display-medium">New Announcement</h1>
    <form id="school">
        <md-outlined-text-field label="School ID" name="sId"></md-outlined-text-field>
        <md-outlined-button type="submit" name="schoolButton">Set school ID</md-outlined-button>
    </form>

    <u class="md-typescale-headline-medium">Current Announcements</u>
    <md-outlined-icon-button onclick="loadAnnouncements()">
        <md-icon>refresh</md-icon>
    </md-outlined-icon-button>

    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    </style>
</body>