{{template "head.html"}}

<body>
    <h1 class="md-typescale-display-medium">CCServerMock Frontend</h1>
    <u class="md-typescale-headline-medium">Login</u>
    <form id="login">
        <md-outlined-text-field label="Code" type="password" name="code"></md-outlined-text-field>
        <md-outlined-text-field label="Date of Birth" value="2010-01-01" name="dob" type="date"></md-outlined-text-field>
        <md-outlined-button type="submit">Login</md-outlined-button>
    </form>
    <div class="card">
        <h1 class="md-typescale-display-medium">Links</h1>
        <ul>
            <li><a href="/announcements/" class="md-typescale-headline-medium">Announcements Maker</a></li>
            <li><a href="/activity/" class="md-typescale-headline-medium">Activity Adder</a></li>
        </ul>
    </div>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    </style>
</body>